<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width" initial-scale="1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="Grocery Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design">
    <script>addEventListner("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);
        function hideURLbar() { window.scrollTo(0, 1); }
    </script>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" media="all">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.css">
    <script src="/javascripts/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic">
    <script src="/javascripts/move-top.js"></script>
    <script src="/javascripts/easing.js"></script>
    <script>jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $("html, body").animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });</script>
</head>

<body>
    <div class="banner">
        <div class="w3l_banner_nav_left">
            <nav class="navbar nav_bottom">
                <div class="navbar-header nav_2">
                    <button type="button" data-toggle="collapse" data-target="#bs-megadropdown-tabs" class="navbar-toggl colapsed navbar-toggle1">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="bs-megadropdown-tabs" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav nav_1">
                        <li>
                            <a href="/products">Branded Foods</a>
                        </li>
                        <li>
                            <a href="/household">Households</a>
                        </li>
                        <li class="dropndown mega-dropdown active">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Veggies & Fruits
                                <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
                                <div class="w3ls_vegetables">
                                    <ul>
                                        <li>
                                            <a href="/vegetables">Vegetables</a>
                                        </li>
                                        <li>
                                            <a href="/vegetables">Fruits</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="/kitchen">Kitchen</a>
                        </li>
                        <li>
                            <a href="/short-codes">Short Codes</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdow-toggle">Beverages
                                <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
                                <div class="w3ls_vegetables">
                                    <ul>
                                        <li>
                                            <a href="/drinks">Soft Drinks</a>
                                        </li>
                                        <li>
                                            <a href="/drinks">Juices</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Frozen Foods
                                <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
                                <div class="w3ls_vegetables">
                                    <ul>
                                        <li>
                                            <a href="/frozen">Frozen Snacks</a>
                                        </li>
                                        <li>
                                            <a href="/frozen">Frozen Nonveg</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="/bread">Bread & Bakery</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="w3l_banne_nav_right">
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="w3l_banner_nav_right_banner">
                                <h3>Make your
                                    <span>food </span>
                                </h3>
                                <h3>with Spice</h3>
                            </div>
                            <div class="more">
                                <a href="/products" data-text="Shop Now" class="button--saqui button--round-1 button--text-thick">Shop Now</a>
                            </div>
                        </li>
                        <li>
                            <div class="w3l_banner_nav_right_banner1">
                                <h3>Make you
                                    <span>food</span>
                                </h3>
                                <h3>with Spice
                                    <div class="more"></div>
                                </h3>
                                <a href="/products" data-text="Shop Now" class="button--saqui button--round-1 button--text-thick">Shop Now</a>
                            </div>
                        </li>
                        <li>
                            <div class="w3l_banner_nav_right_banner2">
                                <h3>upto
                                    <i>50%</i>
                                    <h3>off </h3>
                                </h3>
                                <div class="more">
                                    <a href="/products" data-text="Shop Now" class="button--saqui button--round-1 button--text-thick">Shop Now</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <link rel="stylesheet" href="/stylesheets/flexslider.css">
            <script src="/javascripts/jquery.flexslider.js"></script>
            <script>$(window).load(function () {
                    $(".flexslider").flexslider({
                        animation: "slide", start: function (slider) {
                            $("body").removeClass("loading");
                        }
                    });
                });</script>
        </div>
        <div class="clearfix"></div>
        <div class="banner-bottom">
            <div class="wthree_banner_botto_left_grid_sub"></div>
            <div class="wthree_banner_bottom_left_grid_sub1">
                <div class="col-md-4 wthree_bottom_left">
                    <div class="wthree_banner_bottom_left_grid">
                        <img src="/images" alt=" place alt text" class="img-responsive">
                        <div class="wthree_banner_bottom_left_grid_pos">
                            <h4>Discount Offer
                                <span>25%</span>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wthree_banner_bottom_left">
                    <div class="wthree_banner_bottom_left_grid">
                        <img src="/images/5.jpg" alt="place alt text" class="img-responsive">
                        <div class="wthreebanner_btm_pos">
                            <h3>introducing
                                <span>best store for
                                    <i>groceries</i>
                                </span>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wthree_banner_bottom_left">
                    <div class="wthree_banner_left_grid">
                        <img src="/images/6.jpg" alt="place alt text" class="img-responsive">
                        <div class="wthree_banner_btm_pos1">
                            <h3>Save
                                <span>Upto</span>$10</h3>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="top-brands">
        <div class="container">
            <h3>Hot Offers</h3>
            <div class="agile_op_brands_grids">
                <div class="col-md-3 top_brand_left">
                    <div class="hover14 column">
                        <div class="agile_topbrand_left_grid">
                            <div class="agile_top_brand_left_grid">
                                <div class="tag">
                                    <img src="/images/tag.png" alt="place alt text" class="img-responsice">
                                </div>
                                <div class="agile_top_brand_left_grid1">
                                    <figure>
                                        <div class="snipcart-item block">
                                            <div class="snipcart-thumb">
                                                <a href="/single">
                                                    <img src="/images/1.png" alt="">
                                                </a>
                                                <p>fortune sunflower oil</p>
                                                <h4>$7.99
                                                    <span>$10.00</span>
                                                </h4>
                                            </div>
                                            <div class="snipcart-details top_brand_home_details">
                                                <form action="#" method="post">
                                                    <fieldset>
                                                        <input type="hidden" name="cmd" value="_cart">
                                                        <input type="hidden" name="add" value="1">
                                                        <input type="hidden" name="businsess" value="2">
                                                        <input type="hidden" name="item_name" value=" ">
                                                        <input type="hidden" name="amount" value="7.99">
                                                        <input type="hidden" name="discount_amount" value="1.00">
                                                        <input type="hidden" name="currency_code" value="USD">
                                                        <input type="hidden" name="return" value=" ">
                                                        <input type="hidden" name="cancel_return" value=" ">
                                                        <input type="submit" value="Add to cart" name="submit" class="button">
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 top_brand_left">
                    <div class="hober14 column">
                        <div class="agile_top_brand_left_grid">
                            <div class="agile_top_brand_left_grid1">
                                <figure>
                                    <div class="snipcart-item block">
                                        <div class="snipcart-thumb">
                                            <a href="/single">
                                                <img src="/images/3.png" alt="place alt text">
                                            </a>
                                            <p>basmati rice (5 kg)</p>
                                            <h4>$11.99
                                                <span>$15.00</span>
                                            </h4>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details">
                                            <form action="#" method="post">
                                                <fieldset>
                                                    <input type="hidden" name="cmd" value="_cart">
                                                    <input type="hidden" name="add" value="1">
                                                    <input type="hidden" name="business" value=" ">
                                                    <input type="hidden" name="item_name" value="basmati rice">
                                                    <input type="hidden" name="amount" value="11.99">
                                                    <input type="hidden" name="discount_amount" value="1.00">
                                                    <input type="hidden" name="currency_code" value="USD">
                                                    <input type="hidden" name="return" value=" ">
                                                    <input type="hidden" name="cancel_return" value=" ">
                                                    <input type="submit" value="Add to cart" name="submit" class="button">
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 top_brand_left">
                    <div class="hober14 column">
                        <div class="agile_top_brand_left_grid">
                            <div class="agile_top_brand_left_grid1">
                                <figure>
                                    <div class="snipcart-item block">
                                        <div class="snipcart-thumb">
                                            <a href="/single">
                                                <img src="/images/2.png" alt="place alt text">
                                            </a>
                                            <p>Pepsi soft drink (2 Ltr)</p>
                                            <h4>$8.99
                                                <span>$10.00</span>
                                            </h4>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details">
                                            <form action="#" method="post">
                                                <fieldset>
                                                    <input type="hidden" name="cmd" value="_cart">
                                                    <input type="hidden" name="add" value="1">
                                                    <input type="hidden" name="business" value=" ">
                                                    <input type="hidden" name="item_name" value="Pepsi">
                                                    <input type="hidden" name="amount" value="8.00">
                                                    <input type="hidden" name="discount_amount" value="1.00">
                                                    <input type="hidden" name="currency_code" value="USD">
                                                    <input type="hidden" name="return" value=" ">
                                                    <input type="hidden" name="cancel_return" value=" ">
                                                    <input type="submit" value="Add to cart" name="submit" class="button">
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 top_brand_left">
                    <div class="hober14 column">
                        <div class="agile_top_brand_left_grid">
                            <div class="agile_top_brand_left_grid1">
                                <figure>
                                    <div class="snipcart-item block">
                                        <div class="snipcart-thumb">
                                            <a href="/single">
                                                <img src="/images/4.png" alt="place alt text">
                                            </a>
                                            <p>Dog food (4 kg)</p>
                                            <h4>$9.00
                                                <span>$11.00</span>
                                            </h4>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details">
                                            <form action="#" method="post">
                                                <fieldset>
                                                    <input type="hidden" name="cmd" value="_cart">
                                                    <input type="hidden" name="add" value="1">
                                                    <input type="hidden" name="business" value=" ">
                                                    <input type="hidden" name="item_name" value="dog food">
                                                    <input type="hidden" name="amount" value="9.00">
                                                    <input type="hidden" name="discount_amount" value="1.00">
                                                    <input type="hidden" name="currency_code" value="USD">
                                                    <input type="hidden" name="return" value=" ">
                                                    <input type="hidden" name="cancel_return" value=" ">
                                                    <input type="submit" value="Add to cart" name="submit" class="button">
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="fresh-vegetables">
        <div class="container">
            <h3>Top Products</h3>
            <div class="w3l_fresh_vegetables_grids">
                <div class="clo-md-3 w3l_fresh_vegetables_grid w3l_fresh_vegetables_grid_left">
                    <div class="w3l_fresh_vegetables_grid2">
                        <ul>
                            <li>
                                <i aria-hidden="true" class="fa fa-check"> </i>
                                <a href="/products">All Brands</a>
                            </li>
                            <li>
                                <i aria-hidden="true" class="fa fa-check"> </i>
                                <a href="/products">Vegetables</a>
                            </li>
                            <li>
                                <i aria-hidden="true" class="fa fa-check"> </i>
                                <a href="/products">Fruits</a>
                            </li>
                            <li>
                                <i aria-hidden="true" class="fa fa-check"> </i>
                                <a href="/products">Juices</a>
                            </li>
                            <li>
                                <i aria-hidden="true" class="fa fa-check"> </i>
                                <a href="/products">Pet Food</a>
                            </li>
                            <li>
                                <i aria-hidden="true" class="fa fa-check"> </i>
                                <a href="/products">Bread & Bakery</a>
                            </li>
                            <li>
                                <i aria-hidden="true" class="fa fa-check"> </i>
                                <a href="/products">Cleaning</a>
                            </li>
                            <li>
                                <i aria-hidden="true" class="fa fa-check"> </i>
                                <a href="/products">Spices</a>
                            </li>
                            <li>
                                <i aria-hidden="true" class="fa fa-check"> </i>
                                <a href="/products">Dry Fruits</a>
                            </li>
                            <li>
                                <i aria-hidden="true" class="fa fa-check"> </i>
                                <a href="/products">Dairy Products</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9 w3l_fresh_vegetables_grid_right">
                    <div class="col-md-4 w3l_fresh_vegetables_grid">
                        <div class="w3l_fresh_vegetables_grid1">
                            <img src="/images/8.jpg" alt="" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-md-4 w3l_fresh_vegetables_grid">
                        <div class="w3l_fresh_vegetables_grid1">
                            <div class="w3l_fresh_vegetables_grid1_rel">
                                <img src="/images/7.jpg" alt="" class="img-responsive">
                                <div class="w3l_fresh_vegetables_grid1_rel_pos">
                                    <div class="more m1">
                                        <a href="/products" data-text="Shop now" class="button--saqui button--round-1 button--text-thick">Shop now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w3l_fresh_vegetables_grid1_bottom">
                            <img src="/images/10.jpg" alt="place alt text" class="img-responsive">
                            <div class="w3l_fresh_vegetables_grid1_bottom_pos">
                                <h5>Special Offers</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 w3l_fresh_vegetables_grid">
                        <div class="w3l_fresh_vegetables_grid1">
                            <img src="/images/9.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="w3l_fresh_vegetables_grid1_bottom">
                            <img src="/images/11.jpg" alt="" class="img-responsive">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="agileinfo_move_text">
                        <div class="agileinfo_marquee">
                            <h4>get
                                <span class="blink_me">25% off</span>
                                <h4>first order and also get a gift voucher</h4>
                            </h4>
                        </div>
                        <div class="agileinfo_breaking_news">
                            <span></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="newsletter">
        <div class="container">
            <div class="w3agile_newsletter_left">
                <h3>sign up for our newsletter</h3>
            </div>
            <div class="w3agile_newsletter_right">
                <form action="#" method="post">
                    <input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}"
                        required="">
                    <input type="submit" value="subscribe now">
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</body>

</html>